<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>Interactive Information Poster</title>
</head>
<body>
    <div class="title">
        <h1 class="main-header">WHAT IS<br>THE BEST<br></h1>
        <h1 id="main-header-italic">MUSIC STREAMING APP<br></h1>
        <h1 class="main-header">FOR ME?</h1>
    </div>
    <main>

        <section id="spotify">
          <div class="name_wrapper">
            <object data="images/spotify.svg" type="image/svg+xml" class="svg-graphic"></object>
            <span class="see-more" data-target="1">SEE MORE</span>
          </div>

          <div class="text-wrapper">
            <h3>SPOTIFY</h3>
            <p>
              'Spotify' is an advantage of playlists using big data. The way people listen to music in a mobile environment has changed from traditional charts to personal preferences. So 'Spotify' recommends songs you want to hear and automatically creates multiple playlists.
            </p>
          </div>
        </section>

        <section id="tidal">
          <div class="name_wrapper">
            <object data="images/tidal.svg" type="image/svg+xml" class="svg-graphic"></object>
            <span class="see-more" data-target="2">SEE MORE</span>
          </div>

          <div class="text-wrapper">
            <h3>TIDAL</h3>
            <p>
                'Tidal' provides high-quality sound sources such as lossy quality and Hi-Fi. Users can also watch music videos and live shows in HD. 'Tidal' pays musicians the best copyright royalties. After being acquired by musician "Jay-Z" in 2015, 'tidal' has become a more musician-oriented music streaming site.
            </p>
          </div>
        </section>

        <section id="soundcloud">
          <div class="name_wrapper">
            <object data="images/soundcloud.svg" type="image/svg+xml" class="svg-graphic"></object>
            <span class="see-more" data-target="3">SEE MORE</span>
          </div>

          <div class="text-wrapper">
            <h3>SOUND CLOUD</h3>
            <p>
                In 'SoundCloud,' users can freely share and download their music or other music with permission from others. It is characterized by the ability to listen to the compositions or remix music of ordinary amateur musicians. SoundCloud has the advantage that musicians can freely share and promote their compositions.
            </p>
          </div>
        </section>

        <section id="iheart">
            <div class="name_wrapper">
              <object data="images/iheart.svg" type="image/svg+xml" class="svg-graphic"></object>
              <span class="see-more" data-target="4">SEE MORE</span>
            </div>
  
            <div class="text-wrapper">
              <h3>iHEART RADIO</h3>
              <p>
                'iHeartRadio' is an internet radio station under iHeartMedia. Currently, it supports over 1500 broadcasts. 'iHeartRadio' is close to users because it provides services through devices such as online, mobile devices and TVs. Besides, users can watch the 'iHeartRadio Music Festival' and 'iHeartRadio Music Award' held every year at 'iHeartRadio.'
              </p>
            </div>
          </section>

          <section id="apple">
            <div class="name_wrapper">
              <object data="images/apple.svg" type="image/svg+xml" class="svg-graphic"></object>
              <span class="see-more" data-target="5">SEE MORE</span>
            </div>
  
            <div class="text-wrapper">
              <h3>APPLE MUSIC</h3>
              <p>
                'AppleMusic' is a very convenient streaming service for Apple users. That's because it works with other Apple devices that users own. The new feature 'For You' section recommends the latest music carefully selected to the user's taste. Users can also listen to the lyrics that match the song from the beginning or tap on the phrases they want to move right away.
              </p>
            </div>
          </section>

        <article class="popover">
          <div class="Content"></div>
          <div class="Users"></div>
          <div class="LaunchDate"></div>
          <div class="Headquarter"></div>
        </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>